.general404{
    width: 100%;
    overflow: hidden;
}
    .figura404{
        height: 80%;
        overflow: hidden;
    }
        .figura404 img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }