:root{
    --Blanco: #fff;
    --Fondo: #fef0e3;
    --Rojo: #e92027;
    --Negro: #201e1f;
    --Gris: #7d7d7d;
    --Gris2: #EEE;
    --VerdeClarito: #d3eee0;
    --Verde: #7cbd9b;
    --RojoClarito: #ffe2e5;

    --C-Naranja: #ffa203;
    --C-Azul: #101584;
    --C-Rojo: hsl(358, 82%, 52%);
    --C-Morado: #874ccc;
    --C-Verde: #42ae70;

    --B-Radio1: 5px;
    --B-Radio2: 32px;
    --Font-Iconos: 1.1rem;
    --Font-Links: 1.1rem;
    --Font-Textos: 1.1rem;
    --Font-SecTitulos: 1.8rem;
    --Font-Titulos: 4.5rem;
    --Font-Subtitulos: 3rem;
}

/** CATEGORIAS  SIMPLES */
.categorias-container-simple{
    height: auto;
    min-height: 5rem;
    max-height: 5rem;
    padding: 2rem;
    gap: 1rem;
    position: relative;
}
    .categoria-simple-container{
        width: 20%;
        height: auto;
        padding: 1rem;
        border-radius: var(--B-Radio2);
        text-decoration: none;
        color: var(--Blanco);
        position: relative;
        overflow: hidden;
        justify-content: start;
    }
        .icon-categoria-simple{
            width: fit-content;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: var(--Blanco);
            color: var(--Negro);
            padding: 0.5rem;
            font-size: var(--Font-Iconos);
        }
        .categoria-simple-container h3{
            font-size: var(--Font-Textos);
            text-align: center;
        }
        .categoria-simple-container svg{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0;
            left: 0;
            z-index: -1;
        }
/** CATEGCATEGORIAS  SIMPLES */





.filters-drags-container{
    height: auto;
    min-height: 25dvh;
}

/** PLACES  */
.places-container{
    height: auto;
    min-height: 60vh;
    padding: 0rem 2rem;
    justify-content: center;
    flex-flow: row wrap;
}

/** PLACES  */